<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">

<main id="error-page">
    <div class="error-box">
        <h1>THERE WAS AN INTERNAL ERROR.</h1>
        <a href="/" class="error-button">RETURN HOME</a>
    </div>
</main>