html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
background-color: black;
    

font-family: "Marcellus", sans-serif;

}

/* div {
    border: 1px solid black;
} */


